<div class="chat-container">
  <div #messagesContainer class="messages-container">
    <app-chat-message *ngFor="let message of messages" [message]="message"></app-chat-message>
  </div>
  <app-chat-input [users]="users" (sendMessage)="addMessage($event)"></app-chat-input>
</div>
<div class="user-profile">
  <select #userSelect (change)="onUserChange(userSelect.value)">
    <option *ngFor="let user of users; let i = index" [value]="i" [selected]="user.userID === currentUser.userID">
      {{ user.name }}
    </option>
  </select>
</div>
<div *ngIf="showToast" class="toast">{{ toastMessage }}</div>